*.o
*.lo
Makefile.in
*.core
*.la
Makefile
.deps/
.libs/
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
src/icat
stamp-h1
autoscan.log
config.h.in~
configure.scan
