*.o
*.lo
Makefile.in
*.core
*.la
Makefile
.deps/
.libs/
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
src/icat
src/iwat
src/helloworld
stamp-h1
autoscan.log
config.h.in~
configure.scan
m4/l*
libsrsirc.pc
unittests/run_test_bucklist.c
unittests/test_bucklist
